

h1 {
  text-align: center;
  color: #333;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.chart-box {
  width: 48%;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
}

#pie_chart, #bar_chart, #product_profit_chart, #category_sales_chart, #top_selling_chart, #low_stock_alerts {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#legend {
  margin-top: 20px;
}

#legend div {
  margin-bottom: 10px;
}

#top_selling_chart div,
#category_sales_chart div,
#product_sales_chart div {
  margin-bottom: 10px;
}

.low-stock-item {
  color: red;
}

.low-stock-item strong {
  font-weight: bold;
}
